# Joining Data

Incomplete data sets, whether they are missing individual values or full rows and columns, are a common problem in data analysis. Luckily for us, Pandas has lots of tools to help us make these data sets easier to handle.

Pandas’ main methods for bundling dataFrames together – concatenating and merging.

In [1]:
import numpy as np
import pandas as pd

In [2]:
match1 = pd.DataFrame({'Opponent':['Selche FC'],
                      'GoalsFor':[1],
                       'GoalsAgainst':[1],
                       'Attendance':[53225]})

match2 = pd.DataFrame({'Opponent':['Sudaton FC'],
                      'GoalsFor':[3],
                       'GoalsAgainst':[0],
                       'Attendance':[53256]})

match3 = pd.DataFrame({'Opponent':['Ouestjambon United'],
                      'GoalsFor':[4],
                       'GoalsAgainst':[1],
                       'Attendance':[53225]})

## Concatenation
Simplest method of joining data is to simply stick one on the ned of the other – as the concatenate method allows us to do. ‘pd.concat()’ with a list of our data frames will do the trick:

In [3]:
AllMatches = pd.concat([match1,match2,match3])
AllMatches

             Opponent  GoalsFor  GoalsAgainst  Attendance
0           Selche FC         1             1       53225
0          Sudaton FC         3             0       53256
0  Ouestjambon United         4             1       53225

## Merging

‘pd.merge()’ will allow us to stick data together left-to-right. Let’s first create more details for our matches above that we can then merge then:

In [4]:
match1scorers = pd.DataFrame({'First':['Sally'],
                              'Last':['Billy'],
                            'Opponent':['Selche FC']})
                      
match2scorers = pd.DataFrame({'First':['Sally'],
                              'Last':['Pip'],
                             'Opponent':['Sudaton FC']})

match3scorers = pd.DataFrame({'First':['Sally'],
                             'Last':['Sally'],
                             'Opponent':['Ouestjambon United']})

AllScorers = pd.concat([match1scorers,match2scorers,match3scorers]) 
AllScorers

   First   Last            Opponent
0  Sally  Billy           Selche FC
0  Sally    Pip          Sudaton FC
0  Sally  Sally  Ouestjambon United

In [5]:
df = pd.merge(AllMatches, AllScorers, how='inner',on='Opponent')
df

             Opponent  GoalsFor  GoalsAgainst  Attendance  First   Last
0           Selche FC         1             1       53225  Sally  Billy
1          Sudaton FC         3             0       53256  Sally    Pip
2  Ouestjambon United         4             1       53225  Sally  Sally

‘pd.merge()’ takes four arguments. The first two are the dataFrames that we want to merge.

Next, we have the ‘how’ argument, which dictates the type of join that we need. ‘Inner’ is the simplest, and we use that in this example but you should read up on the other types.

Finally is ‘on’, which is the column that we build the dataFrame around. Pandas looks for this value in all merged dataFrames, then adds the other values from the matching rows.